body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('/IMG/fondo-1.jpg'); /* Ruta a tu imagen de fondo */
    background-size: cover; /* Ajusta la imagen para cubrir el fondo sin distorsión */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

header {
    text-align: center;
    margin-bottom: 2rem;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco translúcido */
    padding: 1rem;
    border-radius: 10px;
}

.menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco translúcido */
    padding: 2rem;
    border-radius: 10px;
}

.menu-container button {
    width: 200px;
    padding: 1rem;
    margin: 1rem 0;
    font-size: 1.2rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    transition: background-color 0.3s ease;
}

.menu-container button:hover {
    background-color: #45a049;
}
