/* Estilo general */

html, body {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('/IMG/fondo-4.jpg'); /* Ruta a la imagen de fondo */
    background-size: cover; /* Asegura que cubra toda la pantalla */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* No repite la imagen */
    color: #333;
}

/* Estilo General */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Relleno semi-transparente para el título */
h1 {
    background-color: rgba(243, 239, 239, 0.6); /* Fondo negro semi-transparente */
    color: rgb(0, 0, 0);
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1.5rem;
    max-width: 400px;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Sombra para destacar */
}

/* Estilo del Formulario */
form {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

/* Estilo de los Checkboxes */
form div {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}

form input[type="checkbox"] {
    margin-right: 0.5rem;
    transform: scale(1.3); /* Aumenta el tamaño de los checkboxes */
}

/* Estilo del Botón */
button {
    background-color: #4CAF50;
    color: white;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}