/* Estilo general */

html, body {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('/IMG/fondo-4.jpg'); /* Ruta a la imagen de fondo */
    background-size: cover; /* Asegura que cubra toda la pantalla */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* No repite la imagen */
    color: #333;
}

/* General */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

.header {
    text-align: center;
    background-color: #c6ca86;
    color: white;
    padding: 1rem;
}

main {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.extra-services-form {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.form-group {
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
}

.form-group input {
    margin-right: 1rem;
    transform: scale(1.2);
}

button.btn-agregar {
    background-color: #4CAF50;
    color: white;
    padding: 0.75rem;
    font-size: 1.1rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button.btn-agregar:hover {
    background-color: #45a049;
}

/* Popup */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup.hidden {
    display: none;
}

.popup-content {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

button.btn-continuar {
    background-color: #4CAF50;
    color: white;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 1rem;
}

button.btn-continuar:hover {
    background-color: #45a049;
}

/* Estilo para el botón "Reservar" */
.btn-reservar {
    background-color: #28a745; /* Verde */
    color: white;
    padding: 0.75rem 1.5rem;
    font-size: 1.1rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-reservar:hover {
    background-color: #218838; /* Verde más oscuro al pasar el mouse */
}